.help-block{
	color:red;
}
/* Login form css */
.form-submit span input[type=submit] {
    background-color: #01559d;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 110px;
    font-family: "Montserrat";
    font-size: 16.56px;
    font-weight: bold;
    cursor: pointer;
} 

.form-submit span {
    background-color: #01559d;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    /* width: 157px; */
    font-family: "Montserrat";
    font-size: 16.56px;
    font-weight: bold;
    /* border-radius: 24px; */
}
/* Login form css */

/* Header css */
.header .top-navigation {
    width: 60%;
}

.header .right-nav .logged-in {
    width: 175px;
}
/* Header css */}

.error {
   color: red
}

.hide {
   display: none;
}