.help-block{
    color:red;
}
/* Login form css */
.form-submit span input[type=submit] {
    background-color: #01559d;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 110px;
    font-family: "Montserrat";
    font-size: 16.56px;
    font-weight: bold;
    cursor: pointer;
}

.form-submit span {
    background-color: #01559d;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    /* width: 157px; */
    font-family: "Montserrat";
    font-size: 16.56px;
    font-weight: bold;
    /* border-radius: 24px; */
}
/* Login form css */

/* Header css */
/*.header .top-navigation {
    width: 60%;
}*/

/*.header .right-nav .logged-in {
    width: 175px;
}*/
/* Header css */

.form label.error {
    float: left;
    border: none;
    width: 100%;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


input.custom_button {
    border: none !important;
    line-height: 0px !important;
}

/* .lead-top .float-right a{
    font-family: "Montserrat";
    font-size: 16px;
    color: #1a1a1a;
    padding-top: 15px;
} */

.float-right{
    float: right;
}

/* Error Messages */

.success_message, .error_message, {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.success_message {
    color: #4F8A10;
    background-color: #DFF2BF;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.error_message {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.performance-form-control {
    margin-bottom: 15px;
    display: table;
    width: 100%;
    text-align: center;
}
.performance-radio-control {
    display: inline;
}

.page-content .performance-form-control label {
    display: inline;
}


span.no_result {
    font-size: 24px;
    font-weight: bold;
    color: #1a1a1a;
    margin: 5px 0;
    margin-left: 40%;
    text-align: center;
    left: 50%;
    font-family: "Montserrat";
}

img.loader {
    margin-left: 50%;
}

/* Disabled the button */
.disabled{
    cursor: not-allowed;
}

/* .footer{
    position: relative;
} */

.lead-num > a:hover {
    background-color: #00559d;
    color: #fff;
}
.lead-num > a {
    border: 2px solid #00559d;
    color: #00559d;
    font-weight: 500;
    padding: 5px 25px;
}
body{
    min-height: 100%;
}

.breadcrumbs ul li{
    margin-right: 7px;
}

.BDC_CaptchaIconsDiv{
    float: right;
    margin-top: -50px;
}

#CaptchaCode{
    width: 87.5%;
    padding: 0 5px;
    margin-top: 5px;
 }


