
@media only screen and (min-width:1023px) and (max-width:1200px){
	.header .logo{
		width: 25%;
	}
	.header .top-navigation{
		width: 56%;
	}
	.header .right-nav{
		width: 18%;
	}
	.main-content .lead-section{
		padding: 0 45px;
	}

    .lead-form .lead-form-right{
        width: 47%;
    }
    .emi-content{width: 100%;}
    
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .login-wrapper .login-form{
    	padding: 180px 30px;
    }
    .header .right-nav{
    	position: absolute;
	    width: 25%;
	    right: 15px;
	    top: 15px;
    }
    .logged-in .name{
    	display: inline-block;
    }
    .header .right-nav .notification{
    	width: 20%;
    }
    .header .top-navigation{
    	width: 68%;
    }
    .header{
    	padding: 25px 0;
    }
    .main-content .lead-section{
    	padding: 0 20px;
    }

    .lead-count{
        width: 155px;
    }

    .top-navigation ul li.active a {
    padding: 27px 33px;
    }

    .header .top-navigation{
        margin: 15px 0;
        width: 100%;
    }

    .lead-count span.big{
        font-size: 70px;
    }

    .header .right-nav .logged-in{
        width: auto;
    }

      .lead-form .lead-form-left{
        width: 48%;
    }
    .lead-form .lead-form-right{
        padding-left: 20px;
        width: 48%;
    }
     .emi-content{width: 100%;}
     .emi-content .range-slider input{width: 70px;}


}