@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.eot?');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Lato-Bold.woff') format('woff'),
	url('../fonts/Lato-Bold.ttf')  format('truetype'),
	url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Lato-Regular.woff') format('woff'),
	url('../fonts/Lato-Regular.ttf')  format('truetype'),
	url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Regular.woff') format('woff'),
	url('../fonts/Montserrat-Regular.ttf')  format('truetype'),
	url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat-Bold.ttf')  format('truetype'),
	url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*Reset Css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
img{
	max-width: 100%;
}
a{
	text-decoration: none;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	height: 100%;
}
body {
	line-height: 1;
	min-height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	font-family: 'Lato-Regular', 'Montserrat-Regular' !important;
	font-size: 16px;
	padding-bottom: 80px;
	position: relative;
}
::-webkit-input-placeholder {
	color: #ffffff;
}
::-moz-placeholder {
	color: #ffffff; opacity: 1;
}
:-ms-input-placeholder {
	color: #ffffff;
}
:-moz-placeholder {
	color: #ffffff;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.clearfix:after{
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}


/*Radio and checkbox*/
.control-group {
	display: inline-block;
	vertical-align: top;
	background: #fff;
	text-align: left;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	padding: 30px;
	width: 200px;
	height: 210px;
	margin: 10px;
}
.control {
	display: block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 16px;
	color:#01559d;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 17px;
	width: 17px;
	background: #01559d;
}
.control--radio .control__indicator {
	border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background:#01559d;
}

.control__indicator .form-submit {
	position: absolute;
	display: none;
}

.control--checkbox .control__indicator .check {
	left: 4px;
	position: absolute;
	top: 4px;
	display: none;
}

.inner-content.text-s p {
    text-align: left;
    padding: 20px 0 25px;
    border-bottom: 1px solid #c0c0c0;
    width: 40%;
    margin: auto;
    font-size: 16px;
}
.control--checkbox.checked .control__indicator .check {
	display: block;
}
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
	left: 7px;
	top: 7px;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}



/*Login-Page*/
.login-page{
	background-color: #dfebf8;
	padding-bottom: 0;
}
.login-wrapper{
	width: 100%;
	max-width: 922px;
	display: table;
	margin: 4% auto;
	table-layout: fixed;
	background-color: transparent;
}
.login-wrapper .bank-logo{
	display: table-cell;
	vertical-align: middle;
	background-color: #ffffff;
	text-align: center;
	background-image: url("../images/login-bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.login-wrapper .login-form{
	display: table-cell;
	vertical-align: middle;
	padding: 90px 15px;
	background-color: #FFFFFF;
	width: 312px;
}
.login-wrapper .login-form h3{
	font-family: "Montserrat-Regular";
	font-size: 27.59px;
	font-weight: 600;
	margin-bottom: 35px;
}
.login-wrapper .login-form .form{
	margin: 0 auto;
	width: 270px;
}
.form-control input{
	width: 99%;
	height: 45px;
	/*line-height: 45px;*/
	border:0px;
	background-color: transparent;
	outline: none;
	/*color: #8a8b8e;*/
	color: #333333;
	font-size: 14px;
	padding: 0 2px;
}
.form-control{
	margin-bottom: 15px;
	display: table;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
}
.form-control label{
	color: #8a8b8e;
	display: table-cell;
	font-family: "Montserrat-Regular";
	font-size: 17px;
	font-weight: 400;
}
.form-control .input-control{
	display: table-cell;
	padding: 0 25px 0 5px;
}
.login-form a{
	color: #01559d;
	/*opacity: 0.6;*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	font-size: 16px;
}
.login-form a:hover{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.form-control .submit-btn{
	border:1px solid #ffffff;
	background-color:#01559d;
	color: #ffffff;
	font-size: 16.56px;
	line-height: 20px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 25px;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	width: 140px;
	font-family: "Montserrat-Regular";
}
.form-control .submit-btn:hover{
	background-color: #01559d;
	color: #ffffff;
}
.form-options{
	margin-bottom: 25px;
}
.form-submit{
	border-bottom: 0;
	margin-bottom: 68px;
	margin-top: 45px;
}
.form .form-control:last-child{
	margin-bottom: 0;
}

.user-details{
	background-image: url("../images/username.png");
	background-position: right center;
	background-repeat: no-repeat;
}

.password{
	background-image: url("../images/lock.png");
	background-position: right center;
	background-repeat: no-repeat;
}

.form-submit a,.form-submit div{
	display: table;
	height: 45px;
	border: 0 none;
}
.form-submit img{
	display: table-cell;
	vertical-align: middle;
	height: 45px;
	width: 21px;
}

.form-submit span{
	background-color: #01559d;
	color: #fff;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	width: 96px;
	font-family: "Montserrat-Bold";
	font-size: 16.56px;
	font-weight: bold;
}

/*Login Footer*/
.footer-login{
	font-size: 16px;
	color: #d7d7d7;
	text-align: center;
	background-color: #014481;
	padding: 15px;
	margin-bottom: 4%;
	font-family: "Montserrat-Regular";
}

.footer-login .title{font-weight: 600; font-style: italic; margin-right: 10px;}
.footer-login a{font-style: italic; margin-right: 10px; color: #ffffff; }



/*Dashboard pages*/
.header{
	/*padding: 15px 0;*/
	background-color: #01559d;
}
.container{
	max-width: 1382px;
	margin: 0 auto;
	padding: 0px 15px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;

}
.container form {
	padding-bottom: 15px;
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 30px;
	padding-top: 15px; }

.small-container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0px 15px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header .logo{
	width: auto;
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
}
.header .top-navigation{
	width: 60%;
	display: inline-block;
	vertical-align: middle;
}
.header .right-nav{
	/*width: 15%;*/
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	float: right;
	margin-top: 25px;
}
.top-navigation a{
       outline : none;
	display: table;
	color: #b1bac4;
	font-family: "Montserrat-Regular";
	font-size: 12px;
	padding: 45px 7px;
	box-sizing:unset;
	-ms-box-sizing:unset;
	-moz-box-sizing:unset;
	-webkit-box-sizing:unset;
}
.top-navigation{
	text-align: center;
}
.top-navigation a img{
	display: table-cell;
	vertical-align: middle;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.top-navigation a span{
	display: table-cell;
	vertical-align: middle;
	
}
span.count {
    background: red;
    color: #fff;
    width: 15px;
    border-radius: 12px;
    height: 15px;
    position: relative;
    top: -7px;
    font-size: 8px;
}
.top-navigation li a:hover span.count {
    background-color: red!important;
}

.top-navigation li{
	display: inline-block;
	/*margin-right: 5px;*/
	padding:0px;
	text-align: center;
	vertical-align: middle;
}

.top-navigation ul li.active a,.top-navigation ul li:hover a{
	background-color: #014986;
	padding: 45px 7px;
	color: #ffffff;
}

.top-navigation li + li{
	/*margin-left: 5px;*/
}

.top-navigation a.active img,.top-navigation a:hover img{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.top-navigation a.active span,.top-navigation a:hover span{
	background-color: #032956;
}
.header .right-nav .notification{
	cursor: pointer;
	display: inline-block;
	margin-right: 20px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	width: auto
}
.header .right-nav .logged-in{
	display: inline-block;
	vertical-align: middle;
	width:180px;
}

.logged-in img{
	float: left;
	width: 26px;
}
.logged-in .name{
	display: block;
	color: #ffffff;
	margin-bottom: 5px;
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.logged-in a{
	color: #ffffff;
}
.notification .count{
	height: 15px;
	display: inline-block;
	width: 15px;
	background-image: url(../images/small-circle.png);
	background-repeat: no-repeat;
	line-height: 14px;
	font-size: 8px;
	color: #ffffff;
	padding: 0;
	text-align: center;
	position: absolute;
	top: -10px;
	left: 8px;
	background-size: contain;
}
.view-content{
	margin-top: 60px;
	text-align: center;
	width: 80%;
}

.view-content a{
	background-color: #01559d;
	color: #ffffff;
	font-family: "Montserrat-Regular";
	padding: 13px 55px;
}
/*Footer*/

.footer{
	margin-top: 45px;
	width: 100%;
	bottom: 0;
	background-color: #383838;
	position: absolute;
}
.copyright{
	border-top: 1px solid #757575;
	text-align: center;
	padding: 15px;
	font-size: 15px;
	color: #b7b7b7;
	font-family: "Lato";
}

.main-content .lead-section{
	padding: 30px 100px;
	margin: 20px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
}

.lead-section + .lead-section {
	border-left: 1px solid #dddddd;
}

.lead-data{
	margin: 50px 0 30px;
}

.lead-section h3{
	font-size: 42.81px;
	font-weight: bold;
	margin-bottom: 35px;
	font-family: "lato";
	color: #2e2e30;
}
strong{
	font-weight: bold;
}

/*Middle Content*/

/*add-lead*/
.lead-count{
	width: 170px;
	background-repeat: no-repeat;
	padding: 30px 0;
	text-align: center;
	display: inline-block;
}
.lead-count.red{
	background-image: url(../images/red-circle.png);
	background-size: 100% auto;
}
.lead-count.blue{
	background-image: url(../images/blue-circle.png);
	background-size: 100% auto;
	margin-left: 35px;
}
.lead-count span{
	display: block;
	text-transform: uppercase;
	color: #ffffff;
}
.lead-count span.big{
	font-family: "Montserrat-Regular";
	font-size: 89.18px;
	font-weight: bold;
}
.lead-count span.small{
	font-size: 25px;
}
/*.lead-count + .lead-count{
	margin-left: 10px;
}*/

.lead-form .lead-form-left{
	width: 48%;
	display: inline-block;
	vertical-align: top;
}

.lead-form .lead-form-right{
	width: 48%;
	display: inline-block;
	vertical-align: top;
	padding-left: 45px;
}

.lead-form .form-control{
	width: 100%;
	border-bottom: 0 none;
	margin-bottom: 25px;
}
.lead-form .form-control.form-submit{
	margin-bottom: 0;
}

.form-control select{
	font-size: 14px;
}

.lead-form .form-control input{
	border: 1px solid #d3d3d3;
	height: auto;
	padding: 6px;
}

.lead-form .form-control select{
	width: 100%;
	/*height: 27px;*/
	border: 1px solid #d3d3d3;
	outline: none;
	/*color: #8c8c8c;*/
	color: #333333;
	background: none;
	padding: 6px;
}

.lead-form .form-control label{width: 155px; color: #333333; font-size: 15px;}
.radio-control{float: left;}
.radio-control input{
	width: auto;
	color: #333333;
	font-size: 15px;
	font-family: "Montserrat-Regular";
	text-align: left;
	height: auto !important;
	border: 0 none !important;
}
.radio-control label{display: inline-block;}
.lead-form .form-control textarea{ border: 1px solid #d3d3d3; width: 99%;}
/*.lead-form .form-control label{vertical-align:middle;}*/
.ui-slider-horizontal{width: 100%; display: inline-block;margin-top: 22px;}
.range-slider input{width: 25%; display: inline-block;  margin-top: -20px;}
.ui-widget-header{background-color: #ed4c4c;}
.reset{
	margin-right: 20px;
	/*background-color: transparent;
    background-image: url("../images/reset-btn.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 45px;
    border: 0 none;*/
	cursor: pointer;
	outline: 0 none;
	color: #767676;
	font-weight: 600;
	font-size: 18px;
	text-decoration: underline;
	vertical-align: middle;
	margin-top: 10px;
}
/*.reset img{width: auto;}*/
.lead-form .form-submit .reset{
	margin-right: 20px;
}
.step{width: 100%;display: inline-block;    margin-top: 5px;}
.step span.float-left, .step span.float-right{font-family: "Montserrat-Regular"; font-size: 13px; color: #333333; font-weight: 500; margin-top: 5px;}
/*add lead*/

/*lead*/
/*-------ravish---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

img#rs {
	margin: 8px 0 0px 10px;
}
.form-style {
	text-decoration: none;
	border: 3px solid #01559d;
	padding: 3px 12px;
	color: #01559d;
	margin-right: 0;
}
.form-style:hover{
	background: #01559d;
	color: #fff;
}

.top-m{margin-top: 40px;}
.l-top{margin-bottom: 12px!important;}
.form-style1 {
	margin: 0 13px;
	font-size: 18px;
}
.bg-red {
	position: relative;
	height: 48px;
	width: 48px;
	margin: 0 auto;
	margin-bottom: 35px;
	display: inline-block;
}
.bg-red1{
	float: right;
	padding-top: 10px;
	margin-bottom: 10px;
	right: 12px;
}
.bg-red1 img{
	margin:0!important;
}

.bg-red ul{
	position: absolute;
	top:15px;
}
.bg-red span{
	position: absolute;
	top:24px!important;
	left: 0!important;
	width: 100%;
	text-align: center;
}
.m-b{
	margin-bottom: 40px!important;
}
#finline{
	display: inline!important;
	position: relative;
	top: 12px;
	right: 180px;
	padding-bottom: 10px;
}
#btn-r{
	margin-top: -18px;
	margin-bottom: 0;
}
.form label.error {
	float: left;
	border: none;
	width: 42%	;
	color: red;
	font-size: 14px;
	margin-top: 0px;
	margin-right: -148px;
}
.error#assign_to-error {
	position: absolute;
	width: 76%;
	display: inline;
	right: 170px;
	top: 23px;
}
#bg-w,#bg-w1{margin: -4px;}
/*table#sample_3 {
    margin-left: -19px;
}*/
.over {overflow-x:auto ;padding-bottom: 20px;}
.over table{overflow-x:hidden }
p#note{
	padding-bottom: 20px;
	padding-bottom: 20px;
	font-size: 15px;
	text-align: left;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	color: gray;
}
.range-slider input{
	line-height: 0;
}
input#ticket_range {
	float: left;
	margin-top: 0;
}
label#ticket_range-error {
	width: auto;
	float: right;
	width: 245px;
	display: inline-block;
	margin-right: 70px;
	vertical-align: top;
	padding-top: 0;
	margin-top: 0;
}

#l-width{
	width: 45%;
	margin-left: 3%;
}
#r-width{
	width: 45%;
	margin-right: 3%;
}
.container .form {
	padding-bottom: 15px;
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 30px;
	padding-top: 15px;
}
a.btn-Download{
	color: gray;
	bottom: 18px;
	text-decoration: underline;
}
/*#cal-droped{
	position: relative;
}*/
.cal-drop,.cal-drop1,.per-drop{
	position: absolute;
	width: 130px;
	display: none;
	z-index: 1;
}
.cal-drop2,.cal-drop3,.cal-drop4{
	position: absolute;
	right:-190px;
	top: 43px;
	width: 130px;
	display: none;
	z-index: 1;
}
.cal-drop3{
	top: 0;
}
.cal-drop4{
	top:86px;
}
.cal-drop li, .cal-drop1 li,.cal-drop2 li,.cal-drop3 li,.cal-drop4 li,.per-drop li{
	width: 130px;
	display: inline-block;
	margin-right: 0;
	margin-left: 0!important;
}

.top-navigation ul li .cal-drop li >a,.top-navigation ul li .cal-drop1 li >a,.top-navigation ul li .cal-drop2 li >a,.top-navigation ul li .cal-drop3 li >a,.top-navigation ul li .cal-drop4 li >a,.top-navigation ul li .per-drop li >a{
	width:103px;
	padding: 15px 20px;
	border-bottom: 1px solid #fff;
}
.top-navigation ul li .cal-drop1 li >a{
	width: 150px;
}
input#ticket_range ,input#amount,input#years,input#interest,input#password,input#username,input#captext{
	float: left;
	margin-top: -4px;
	height: 12px;
	padding: 8px 6px;
	line-height: 14px;
}
input#interest {
    width: 70px;
    margin-right: 10px;
}
input#captext{
	margin-top: 15px;
}
.r-form{

	padding: 0 10px;
	margin: 0 auto;
	display: block!important;
}
.r-field{
	padding: 6px 0!important;
	width: 99.4%!important;
}
.ravish-field2{
	padding: 6px 0!important;
	width: 100.4%!important;
}
.top-lead{
	position: relative;
	top: -15px;
}
input#tenure {
	width: 14%;
}
select#tenurePeriod {
	width: 90px;
	height: 30px;
	padding: 5px;
}
#tenure-error {
	position: absolute;
	display: inline;
	margin-left: 100px;
	width: auto;
}
.faq-a{
	margin-top: 50px;
}
.followUp input#remind_on {
	position: relative;
}
/*#ui-datepicker-div {
	top:47%!important;
	position: fixed!important;

}*/
.hasDatepicker{
	position: relative;
}
input#remind_on {
	padding: 6px 2px;
}
form#add_form,form#detail_form,form#addlead,form#emi,form#search_form,form#assign_multiple,form#edit_form {
	border-bottom: 0;
	margin-bottom: 0;
}
span.right-toggle {
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
}
.top-navigation ul li a:hover span{
	background-color:transparent!important;
}
.float-right.m {
	margin-right: 10px;
}
.img-w{
	width: 48px;
}
.bg-c{
	background-color: #024593!important;
	width: 100%;
	height: auto;
	margin-bottom: 0;
	text-align: center;
}
.bg-c p{
	display: inline-block;
	font-size: 20px;
	padding: 15px 0 0 15px;
}
.margin-b{
	margin-bottom: 12px;
}
#chartdiv {
	width: 1382px!important;
	margin: 0 auto;
	padding-top: 12px;
}
div#container {
	width: 1382px!important;
}
span.life-c {
    position: relative;
    top: 15px;
    padding: 0 8px;
}
/*datec*/
/*
.date-c input{position: relative;}
 #ui-datepicker-div{position: absolute;}*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.lead-table thead{
	background-color: #00559d;
}
.lead-table thead th{
	font-family: "Montserrat-Regular";
	font-size: 13px;
	font-weight: normal !important;
	height: 48px;
}

.lead-table tbody td{
	font-family: "Montserrat-Regular";
	font-size: 12px;
	font-weight: normal !important;
	color: #666666;
	height: 45px;
}
.lead-table tbody td a{
	color: #666666;
	text-decoration: underline;
}
.lead-top{margin-bottom: 20px;     display: inline-block;  width: 100%;}
.lead-top .float-left{font-family: "Montserrat-Regular";font-size: 16px;color: #484848;margin-top: 15px; }
.total-lead{font-weight: normal;}
.lead-num{font-weight: 600;}
.lead-num a{ display: inline-block;}
.top-header{background-color: #61aeef; height: 50px;}
table.dataTable .top-header th{padding: 0 18px;}
.dataTables_length{display: none;}
.dataTables_filter{display: none;}
.top-header input,.top-header select{background-color: #61aeef; border: 1px solid #ffffff; padding: 5px; color: #ffffff;width: 100%;}
table#sample_3 {table-layout: inherit;}
.dataTables_info{display: none;}
.dataTables_paginate a {
	border: 1px solid #e7e7e7 !important;
	margin: 0 !important;
	width: 39px !important;
}
.paginate_button.previous{
	background-image: url("../images/previous.png") !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	color: #ffffff !important;
	text-indent: -100px;
}
.paginate_button.next{
	background-image: url("../images/next.png") !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	color: #ffffff !important;
	text-indent: 25px;
}
.paginate_button.current{
	color: #01559d !important;
	background: #ecf2f6 !important;
}

.paginate_button.current:hover{
	background: #ecf2f6 !important;
}
.dataTables_paginate{
	overflow: hidden;
	margin-top: 20px;
}
.dataTables_wrapper {
	overflow-x: auto;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: #0d4992;
}
table.dataTable.no-footer{border-bottom: 0 none;}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
	border-top: 1px solid #e9ecf0;
}
/*.page-content .container{
    background-image: url("../images/bg.png");
    background-position: center top;
    display: block;
    background-size: 100% auto;
    padding: 0px 40px;
    box-sizing: border-box;
    max-width: 1379px;
}*/

/*.page-content .container{
	background-image: url("../images/bg3.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 45px 40px 75px;
}*/
/*lead*/
/*upload lead*/
.upload-content{
	background-color: transparent;
	display: table;
	margin: 0 auto 2%;
	table-layout: fixed;
	width: 100%;
}

.upload-form{
	background-color: #ffffff;
	display: table-cell;
	padding-right: 44px;
	vertical-align: middle;
	width: 44%;
	height: 228px;
}

.upload-xl{
	background-color: #ffffff;
	border-left: 1px solid #d8d8d8;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 45%;
}
.upload-form .form-control select{
	border: 1px solid #d3d3d3;
	height: 27px;
	width: 85%;
	margin-bottom: 20px;
}
.upload-form .form-control input{
	font-size: 14px;
	height: 30px;
	min-height: 30px;
	width: 215px;
	line-height: 30px;
	margin-bottom: 5px;
	border:1px solid;
}
.upload-form .form-control span {
	color: #e22528;
	font-size: 17px;
	margin-top: 5px;
}
.upload-form .form-control label{width: 155px; color: #333333; font-size: 15px;}
.upload-form .form-control{border-bottom: 0 none; margin-bottom: 25px;}
.upload-xl a{
	display: inline-block;
}
.upload-xl a span{
	border-bottom: 1px solid #ccc;
	display: block;
	font-family: "Montserrat-Regular";
	font-size: 15px;
	color: #707070;
	margin-top: 15px;
}
.upload-table tr th{
	font-size: 13px;
	font-family: "Montserrat-Regular";
}
.upload-table tr td{
	font-size: 12px;
	font-family: "Montserrat-Regular";
	color: #666666;
}
.upload-table tr td a{
	color: #666666;
	text-decoration: underline;
}
.upload-table tbody tr.odd{
	background-color: #ffffff;
}

.upload-table tbody tr.even{
	background-color: #f2f2f2;
}
.valid-msg{color: #737373;
	font-family: "Montserrat-Regular";
	font-size: 13px;    clear: both;
	display: block;}
.log-in a{color: #ffffff;}
.unassigned-content .inner-content{width: 99.4%;}
.unassigned-content .bg-top, .unassigned-content .bg-bottom{
	max-width: 100%;
}
/*upload lead*/

/*faq*/
.log-in{
	font-size: 16px;
	font-family: "Montserrat-Regular";
	font-weight: normal;
	margin-top: 10px;
}
.log-in a span{
	vertical-align: top;
	padding-top: 5px;
	display: inline-block;
}
.faq-accordion{
	border: 1px solid #dedede;
}

.faq-accordion h3{
	background-color: #ebf4fb !important;
	padding: 10px 10px 20px;
	margin-bottom: 5px;
	font-family: "Montserrat-Regular";
	font-size: 16px;
	color: #484848 !important;
	outline: none;
}

.faq-accordion h3 span{
	font-size: 80px;
	height: auto;
	line-height: 0;
	margin-right: 5px;
       position:relative;
       top:-15px;
}
.ui-accordion-content{
	padding: 15px 30px 25px 20px;
	line-height: 25px;
	height: auto !important;
}

.ui-state-active{
	background-image: url("../images/acc-min.png");
	background-repeat: no-repeat;
	background-position: 99% center;
}

.ui-accordion-header-collapsed{
	background-image: url("../images/acc-plus.png");
	background-repeat: no-repeat;
	background-position: 99% center;
}

/*faq*/

/*add category*/
.product-category{
	width: 615px;
	margin: 0 auto;
}
.product-category .form-control{
	border-bottom: 0 none;
	margin-bottom: 30px;
}
.product-category .form-control input {
	border: 1px solid #d3d3d3;
	height: 27px;
}
.product-category .form-control label{
	font-size: 15px;
	font-family: "Montserrat-Regular";
	color: #333333;
	width: 145px;
	vertical-align: top;
}
.product-category .form-control .reset{float: left;}
.product-category .radio-control label{font-size: 13px;}
.product-category .form-submit{
	margin: 0 0 0 145px;
}
.product-category .form-submit span{
	font-size: 16px;
	font-weight: 500;
	width: 100px;
}

.upload-content .btn-submit{
	background-color: transparent;
	background-image: url("../images/submit-btn.png");
	background-repeat: no-repeat;
	width: 120px;
	height: 45px;
	border: 0 none;
	cursor: pointer;
	outline: 0 none;
}

.product-category .form-submit img{
	height: 40px;
	width: 15px;
}
.product-category .form-submit span{
	width: 96px;
}
.product-category .form-submit a{height: 40px;}


/*add category*/

/*add-product*/
.product-category select{
	width: 100%;
	height: 33px;
	border: 1px solid #d3d3d3 !important;
}

.product-category.add-product{
	width: 630px;
}
/*add product*/


.form-control .detail-label{
	width: auto !important;
	font-size: 13px !important;
}

.remark-notes{
	min-height: 84px;
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 13px;
	line-height: 19px;
	color: #8c8c8c;
}
.detail-label.red{
	color: #ee4b4c;
}

/*product guide*/
.product-guide-tab .ui-widget-header{
	background-color: transparent;
	border: 0 none;
}

.product-guide-tab .ui-tabs .ui-tabs-nav li{
	border: 0 none;
}
.ui-tabs .ui-tabs-panel{
	border: 1px solid #a4cef3 !important;
}
.ui-state-default{
	border: 0 none !important;
	background-color: transparent !important;
	font-family: "Montserrat-Regular";
	font-weight: 500;
	padding: 7px 0 !important;
}
.ui-widget.ui-widget-content{border: 0 none !important;    top: -3px!important;}
.product-guide-tab .ui-state-default.ui-state-active{
	background-color: #01559d !important;
	color: #ffffff;
	outline: none;

}
.ui-state-default.ui-state-active a{
	color: #ffffff !important;
	border: 0 none;
	outline: none;
}
.ui-tabs .ui-tabs-nav{padding: 0;}
.product-guide-tab .tab-content p{
	margin-bottom: 20px;
	font-family: "Montserrat-Regular";
	font-size: 15px;
	line-height: 20px;
}
/*product guide*/
/*EMI calculator*/
.range-slider .ui-slider-handle{
	border: 1px solid #ed4c4c !important;
	background-color: #ed4c4c !important;
	width: 32px;
	height: 26px;
	padding: 0 !important;
	margin-top: -2px;
	background-image: url("../images/ui-bg.png");
	background-position: center;
	background-repeat: no-repeat;
}
.range-slider .ui-slider{
	border: 1px solid #acacac !important;
	background: #e2eef8 !important;
}

.emi-content .range-slider label{
	/*width: 160px;
	color: #484848;
	vertical-align: middle;*/
	width: 160px;
	color: #484848;
	vertical-align: middle;
	display: inline-block;
	float: left;
	margin-left: 0;
}
.emi-content .range-slider input{
	border: 1px solid #d3d3d3;
	height: 25px;
	width: auto;
	padding: 6px 10px;
	margin-bottom: 35px;
}

.emi-content .range-slider{
	border-bottom: 1px dashed #ccc;
	margin-bottom: 40px;
	padding-bottom: 34px;
	position: relative;
}

.emi-content .range-slider .ui-slider-horizontal{
	width: 98%;
}
.emi-content .range-slider .step{
	position: relative;
	top: -19px;
	width: 98%;
}
.tick{
	position: absolute;
}
.emi-content .range-slider input{
	/*width: 115px;
	height: 25px;
	left: -40px;
	position: relative; */
	float: left;
}
.emi-content .form-submit{
	width: auto;
	margin: auto;
	text-align: center;
}
.emi-content .form-submit .float-right {
	float: none;
	margin: 0 auto 15px;
}
.emi-content .form-submit .input-box{
	border: 1px solid #ccc;
	font-weight: 500;
	font-size: 32.21px;
	width: 140px;
	padding: 8px 12px 15px;
	height: 25px;
	background-color: transparent;
	display: table-cell;
	vertical-align: middle;
}

.emi-content .form-submit .emi-section {
	display: table;
	margin-bottom: 15px;
}

.emi-content .form-submit label{
	display: table-cell;
	font-family: "Montserrat-Regular";
	font-size: 16px;
	margin-bottom: 20px;
	color: #000000;
	vertical-align: middle;
	padding-right: 15px;
}

.emi-content .form-submit .emi-month-text {
	font-family: "Montserrat-Regular";
	font-size: 16px;
	margin-bottom: 20px;
	color: #000000;
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
}

.tick{
	color: #8b8b8b;
	font-size: 14px;
	font-family: "Montserrat-Regular";
}

.emi-content{
	margin: 0 auto;
	padding: 30px 0 0;
	width: 1245px;
}
.emi-content .value{
	width: 50px !important;
	position: absolute;
	left: 370px;
}
.emi-content .range-slider .error{
	margin-bottom: 15px;
}

.emi-content .range-slider label.error {
	position: relative;
	right: -105px;
	top: -7px;
	width: auto;
}

.emi-content .range-slider img{
	width: auto !important;
}
/*EMI calculator*/

/*notification*/
.high{
	background-color: #ee4b4c;
}
/*notification*/
/*lead performance*/
.box-content{
	width: 582px;
	margin: 0 auto;
}
.box-content .form-control{
	border-bottom: 0 none;
	width: 320px;
	margin: 0 auto 20px;
}
.box-content .form-control .radio-control{
	margin-right: 15px;
}
.box{
	width: 265px;
	display: inline-block;
	text-align: left;
	margin-bottom: 15px;
}
.performance-box-top{
	background-image: url(../images/performance-box-top.jpg);
	background-repeat: no-repeat;
	display: block;
	height: 14px;
	background-size: 100% auto;}
.performance-box-bottom{
	background-image: url(../images/performance-box-bottom.jpg);
	background-repeat: no-repeat;
	display: block;
	height: 14px;
	background-size: 100% auto;}
.box-m {    margin: 0 15px 0 25px;}
.box-m1{background-color: #3168a8;}
.box-unasign-top{margin-top: 40px;}
.Pbox-img{width: 80px;margin: 0!important;padding-left: 12px;}
.box img{
	margin: 15px auto;
}
.form-style2 {
	font-size: 16px;
	font-weight: 100;
	padding-top: 5px;
	/*padding-bottom: 5px;
    background: #3168a8;
    padding: 10px 0;*/
}
.box h4{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	padding: 22px 10px 0;
	vertical-align: top;
}
.box ul{
	width:100%;
	background: none;
	display: block;
	padding: 12px 0 0;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
.bg-color-f{
	background-color: #e1ecf3!important;
}
.box li{
	width:100%;
	display: inline-block;
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.5px;
	text-align: left;
	border-bottom: 1px solid #3168a8;
}
.box li:first-child{

}
.box span{
	font-size: 18px;
	color: #333333;
	font-weight: bold;
	font-size: 18px;
	color: #333333;
	font-weight: bold;
	top: 12px;
	left: 20px;
	color: #fff;
	vertical-align: text-top;
}
/*lead performance*/
/*notification*/
div#accordion {
    margin-top: 35px;
}
.notify{
	border: 1px solid #0058a2;
	margin-bottom: 25px;
}
.notifi-accordion .high.h-clr{
	background-color: #ee4b4c !important;
	color: #fff;
	margin-bottom: 20px;
}
.notifi-accordion .high.l-clr{
    background-color: #127bd5!important;
    color: #fff;
    margin-bottom: 20px;	
}
.notifi-accordion .high.n-clr{
    background-color: #0058a2!important;
    color: #fff;
    margin-bottom: 20px;

    padding: 10px 15px;
}
.high .h-bg{
	background: #fff;
	color: #ee4b4c;
	padding: 2px 8px;
	margin: 0 16px 0 16px;
	font-size: 12px;
	width: 33px;
	height: 14px;
	text-align: center;
	font-family: "Montserrat-Regular";
	font-weight: normal;
	vertical-align: middle;
	display: inline-block;
}
.high .l-bg{
	background: #fff;
	color: #127bd5;
	padding: 2px 8px;
	margin: 0 16px 0 16px;
	font-size: 12px;
	height: 14px;
	text-align: center;
	font-family: "Montserrat-Regular";
	font-weight: normal;
	vertical-align: middle;
	display: inline-block;
	width: 33px;
}
.high .n-bg{
	background: #fff;
	color: #2dcc70;
	padding: 2px 1px;
	margin: 0 16px 0 16px;
	font-size: 12px;
	width: 47px;
	height: 14px;
	text-align: center;
	font-family: "Montserrat-Regular";
	font-weight: normal;
	vertical-align: middle;
	display: inline-block;
}
.high img{
	margin-bottom: -7px;
}
.notifi-accordion .ui-state-active{
	background-image: url("../images/notifi-min.png");
	background-repeat: no-repeat;
	background-position: 99% center;
}

.notifi-accordion .ui-accordion-header-collapsed{
	background-image: url("../images/notifi-plus.png");
	background-repeat: no-repeat;
	background-position: 99% center;
}
.notifi-accordion p{
	margin-bottom: 10px;
	    padding: 0 15px 10px;
}
.notifi-accordion a{
	color: #484848;
	font-size: 16px;
	text-decoration: underline;
	font-family: "Montserrat-Regular";
	font-weight: 500;
}

.bg-top{
	background-image: url("../images/bg-top-new.png");
	background-position: center top;
	display: block;
	background-size: 100%;
	height: 30px;
	max-width: 1440px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	background-repeat: no-repeat;
}
.bg-bottom{
	background-image: url("../images/bg-bottom-new.png");
	background-position: center bottom;
	display: block;
	background-size: 100% 100%;
	height: 50px;
	max-width: 1440px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	background-repeat: no-repeat;
}
.inner-content{
	background-image: url("../images/bg-inner.png");
	background-position: center bottom;
	display: block;
	background-size: 100% 100%;
	max-width: 1432px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: repeat-y;

}
/*notification*/
/*Bread Crumbs*/
.breadcrumbs{
	background-color: #f4f4f4;
}
.breadcrumbs ul{
	margin-bottom: 0;
	padding: 15px 0;
}
.breadcrumbs ul li{
	display: inline-block;
	vertical-align: middle;
	color: #5e5e5e;
	font-size: 13px;
	font-family: "Montserrat-Regular";
}
.breadcrumbs ul li a{
	color: #014986;
	font-family: "Montserrat-Regular";
	font-size: 13px;
}
.breadcrumbs ul li span{
	color: #014986;
	margin: 0 10px;
}
.breadcrumbs ul li a:hover{
	color: #01559d;
}
.breadcrumbs ul li a span{
	margin:0 10px ;
}


/*Page title*/
.page-title{
	padding: 15px 0 0;
}
.page-title h3{
	font-size: 24px;
	font-weight: bold;
	color: #1a1a1a;
	margin: 5px 0;
	text-align: center;
	font-family: "Montserrat-Regular";
}

/*Btn*/
.btn{
	padding: 15px 70px;
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	background-color: #e6e6e6;
	color: #1a1a1a;
}
.btn:hover{
	background-color: #032956;
	color: #ffffff;
}
.btn.red{
	background-color: #f13031;
	color: #ffffff;
}
.btn.red:hover{
	background-color: #a91112;
}
table{
	width: 100%;
	text-align: left;
}
table th,table td{
	padding: 15px 10px;
	font-size: 20px;
	vertical-align: middle;
}
table tr{
	background-color: #f2f2f2;
}
table th{
	color: #ffffff;
}

table thead tr{
	background-color: #00559d;
}
.actions a{
	padding: 0px 25px;
	display: inline-block;
	vertical-align: middle;
}

.actions a + a{
	border-left: 1px solid #1a1a1a;

}


img.like{max-width :24%;}
p.custname{position:relative;top:20px;display:inline-block;}

.bullet ol{
	list-style: number;
	list-style-position: inside;
}
.bullet ul{
	list-style: disc;
	list-style-position: inside;
}
.full-btn {
	background: none;
	display: inherit;
	border: none;
	width: 116px;
	cursor: pointer;
       padding:0;
}
.full-btn .left-btn-img {
	float: left;
	width: 15px!important;
	height: 41px!important;
}
.full-btn .btn-txt {
	display: inline-block;
	padding: 11px 0;
	background-color: #01559d;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	width: 86px;
	font-family: "Montserrat";
	font-size: 16px !important;
	font-weight: bold !important;
	height: 19px;
}
.full-btn .right-btn-img {
	float: right;
	width: 15px!important;
	height: 40px!important;
}
.pswd-note{
      font-size :12px;
      color : #a91112;
      margin-bottom: 15px;
}
.accountOpen{
      margin-bottom : 0px !important;
      margin-top : 11px !important;
}

.result-dash thead tr th {
	font-size: 15px;
}
.result-dash table tr td {
	color: #666666;
	font-size: 15px;
}
tfoot tr {
	background: #5e6469;
	color: #fff;
}
.result-dash table tfoot tr td {
	color: #fff;
}
tr.odd-dash {
	background: #f9f9f9;
}
tr.even-dash {
	background: #fff;
}
